@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;800&display=swap');

body{
    background-color:rgb(20,20,20);
    color:rgb(255,255,255);
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 800;
}
header{
    display: flex;
    justify-content: center;
}
header ul{
    display: flex;
    padding: 10px 10px 50px 10px;
}
li{
    list-style: none;
    margin : 5px 10px;
}
h1 {
    font-size: 160px;
    font-weight: 1200;
    margin: 0;
}
.hero-section{
    margin-top: 17vh;
    text-align: center;
}
.light-text{
    font-weight: 50;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
}
footer ul{
    display: flex;
    padding: 30px;
}

.a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.socials{
    width:100px;
    height: 320px;
    background-color: orange;
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 27vh;
}

.social{
    width: 100%;
    height: 33.3%;
}

.wave{
    fill: rgb(0,0,0);
    width: 100vw;
    height: 65vh;
    position: fixed;
    bottom: 0;
    left: 0;
}